In [10]:
import pandas as pd



df = pd.read_csv("https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto3/CasosTotalesCumulativo.csv")

df.head()

,Region,2020-03-03,2020-03-04,2020-03-05,2020-03-06,2020-03-07,2020-03-08,2020-03-09,2020-03-10,2020-03-11,...,2021-04-08,2021-04-09,2021-04-10,2021-04-11,2021-04-12,2021-04-13,2021-04-14,2021-04-15,2021-04-16,2021-04-17
0,Arica y Parinacota,0,0,0,0,0,0,0,0,0,...,18088,18192,18286,18375,18473,18528,18571,18693,18794,18909
1,Tarapacá,0,0,0,0,0,0,0,0,0,...,30213,30445,30614,30773,30908,31089,31234,31445,31625,31784
2,Antofagasta,0,0,0,0,0,0,0,0,0,...,44753,44992,45223,45412,45586,45767,45874,46144,46350,46563
3,Atacama,0,0,0,0,0,0,0,0,0,...,15102,15243,15373,15540,15652,15804,15945,16051,16150,16342
4,Coquimbo,0,0,0,0,0,0,0,0,0,...,28345,28570,28712,28915,29117,29250,29336,29528,29770,29935

In [13]:
df = df.iloc[:,[0, -1]]

df.head()

               Region  2021-04-17
0  Arica y Parinacota       18909
1            Tarapacá       31784
2         Antofagasta       46563
3             Atacama       16342
4            Coquimbo       29935